.landinpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  overflow: hidden;
  /* background-color:rgba(0, 0, 0, .5); */
}
.landingpage-content {
  color: #fff;
  z-index: 1001;
  text-align: center;
  /* margin-top: -50px; */
}
.landingpage-content h1 {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  margin: 40px;
}
.landingpage-content h3 {
  font-size: 2.5rem;
}
.landingpage-content h4 {
  font-size: 1.5rem;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center center;
  z-index: -1;
}

.lading-page-btn {
  padding: 10px;
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  border-radius: 7px;
  background-color: hsl(163, 62%, 73%);
  cursor: pointer;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
.lading-page-btn:hover {
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  animation: slidebg 5s linear infinite;
}
