.logo {
  width: 120px;
  height: 90px;
}

.navigation {
  height: 95px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100000005;
  background: #fff;
  border-bottom: 2px solid #144272;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu > ul li {
  list-style-type: none !important;
  margin: 0 1rem;
  transition: all 1s;
}

.navigation-menu li a {
  text-decoration: none;
  font-style: 1.7rem;
  display: block;
  width: 100%;
  color: #144272;
  font-weight: bold !important;
}
.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.75;
  display: inline-block;
  padding: 20px 0;
  margin: 0px 6px;
  font-weight: bold;
  position: relative;
  color: #144272;
}
.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 4px;
  content: "";
  position: absolute;
  background-color: #144272;
}
.nav-link-line::before {
  width: 0%;
  bottom: 10px;
}
.nav-link-line:hover::before {
  width: 100%;
}
